.hljs {
  @apply bg-black/60 text-white block p-4;
}

/* Comment */
.hljs-comment,
.hljs-quote {
  color: #696969;
}

/* Bold green */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  @apply text-[#2BCC7E];
}

/* Orange */
.hljs-number,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #b34914;
}

/* Yellow */
.hljs-attribute {
  color: #a88f1d;
}

/* Green */

.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #144e31;
}

/* Blue */
.hljs-title,
.hljs-section,
.hljs-string,
.hljs-attribute,
.hljs-attr {
  @apply text-[#C4E4F6] font-semibold;
}

/* Purple */
.hljs-keyword,
.hljs-selector-tag .hljs-string {
  @apply text-[#2BCC7E];
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

@media screen and (-ms-high-contrast: active) {
  .hljs-addition,
  .hljs-attribute,
  .hljs-built_in,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-string,
  .hljs-symbol,
  .hljs-type,
  .hljs-quote {
    color: highlight;
  }

  .hljs-keyword,
  .hljs-selector-tag {
    font-weight: bold;
  }
}
